@charset "UTF-8";

*{
	margin: 0px;
	padding: 0px;
}

@font-face {
	font-family: 'Passion';
	src: url(/fontes/Passion_One/PassionOne-Regular.ttf);
}

@font-face {
	font-family: 'Sriracha';
	src: url(/fontes/Sriracha/Sriracha-Regular.ttf);
}

header{
	background-color: black;
	color: white;
}

header > h1{
	font-family: 'Passion';
}

main p {
	font-family: 'Sriracha';
}



