@charset "UTF-8";

*{
	font-family: Arial, Helvetica, sans-serif;
}

body{
	background-image: linear-gradient(to right, #ADDBEA, #A0C9D9);
}

main{
	background-color: white;
	border-radius: 10px;
	box-shadow: 5px 5px 15px #03696e9c;
	width: 600px;
	padding: 10px;
	margin: auto;
}

h1{
	color: #0598A0;
	text-align: center;
	text-shadow: 1px 1px 2px #02686db6;
}

h2{
	color: #C0C4EF;
}


p{
	text-align: justify;
}